// GROUP=Lekce
// COURSE=APH
// NAME=Assety
// LOCALE=cs
// ORDER=3
doctype html
include ./mixins/header.pug
include ./mixins/containers.pug
include ./mixins/containers_aph.pug
include ./mixins/title.pug
include ./mixins/quotes.pug
include ./mixins/summary.pug

- var themePath = '../themes/aph/';
- var globalAssets = '../assets/all/';
- var defaultBgr = 'backgrounds/bgr_arcades2.jpg';

html(lang='cs')
	+header('Assety', 'Adam Vesecký', themePath + 'resources/favicon.png', themePath + 'theme_aph.scss')
	.reveal
		.slides
			+titleLectureCs('Assety', 'Přednáška 3', globalAssets+'lectures/ic_lecture03.svg')
			include ./chapters/assets_intro_cs.pug
			include ./chapters/assets_resources_cs.pug
			include ./chapters/assets_multimedia_cs.pug
			include ./chapters/assets_generic_cs.pug
			- var defaultBgr = 'backgrounds/bgr_arcades2.jpg';
			+summary_lecture03cs()
			+quote-newpccs()
					
	+footer('Adam Vesecký (FIT ČVUT)', 'Architektura Počítačových Her, Přednáška 3: Assety')
	script(src!='../../scripts/reveal-setup.js')
