doctype html
include ./mixins/header.pug
include ./mixins/containers.pug
include ./mixins/containers_aph.pug

- var themePath = '../themes/aph/';
- var globalAssets = '../assets/all/';

html(lang='en')
	+header('Minitalk: Game Art Styles', 'Adam Vesecký', themePath + 'resources/favicon.png', themePath + 'theme_aph.scss')
	.reveal
		.slides
			include ./chapters/minitalk_styles.pug
					
	+footer('Adam Vesecký (FIT CTU)', 'Architecture of Computer Games, Minitalk: Game Art Styles')
	script(src!='../../scripts/reveal-setup.js')