// GROUP=Minitalks
// CATEGORY=Minitalk
// NAME=Story of Blizzard
// LOCALE=en 
// ORDER=2
doctype html
include ./mixins/header.pug
include ./mixins/containers.pug
include ./mixins/containers_aph.pug

- var themePath = '../themes/aph/';
- var globalAssets = '../assets/all/';

html(lang='en')
	+header('Minitalk: The story of Blizzard', 'Adam Vesecký', themePath + 'resources/favicon.png', themePath + 'theme_aph.scss')
	.reveal
		.slides
			include ./chapters/minitalk_blizzard.pug

	+footer('Adam Vesecký (FIT CTU)', 'Architecture of Computer Games, Minitalk: The Story of Blizzard')
	script(src!='../../scripts/reveal-setup.js')
