// GROUP=Tutorials
// CATEGORY=Tutorial
// NAME=Ackermann Steering
// LOCALE=en 
// ORDER=3
doctype html
include ./mixins/header.pug
include ./mixins/containers.pug
include ./mixins/containers_aph.pug

- var themePath = '../themes/aph/';
- var globalAssets = '../assets/all/';

html(lang='en')
	+header('Tutorial: Ackermann Steering', 'Adam Vesecký', themePath + 'resources/favicon.png', themePath + 'theme_aph.scss')
	.reveal
		.slides
			include ./chapters/tutorial_ackermann.pug
					
	+footer('Adam Vesecký', 'APHGames, Tutorial: Ackermann Steering')
	script(src!='../../scripts/reveal-setup.js')