// GROUP=Tutoriály
// NAME=Ackermannova Dynamika
// LOCALE=cs
// ORDER=3
doctype html
include ./mixins/header.pug
include ./mixins/containers.pug
include ./mixins/containers_aph.pug

- var themePath = '../themes/aph/';
- var globalAssets = '../assets/all/';

html(lang='cs')
	+header('Tutoriál: Ackermannova Dynamika', 'Adam Vesecký', themePath + 'resources/favicon.png', themePath + 'theme_aph.scss')
	.reveal
		.slides
			include ./chapters/tutorial_ackermann_cs.pug
					
	+footer('Adam Vesecký', 'APHGames, Tutoriál: Ackermannova Dynamika')
	script(src!='../../scripts/reveal-setup.js')