// GROUP=Tutorials
// CATEGORY=Tutorial
// NAME=Git Advanced
// LOCALE=en 
// ORDER=2
doctype html
include ./mixins/header.pug
include ./mixins/containers.pug
include ./mixins/containers_aph.pug

- var themePath = '../themes/aph/';
- var globalAssets = '../assets/all/';

html(lang='en')
	+header('Tutorial: Git Advanced', 'Adam Vesecký', themePath + 'resources/favicon.png', themePath + 'theme_aph.scss')
	.reveal
		.slides
			include ./chapters/tutorial_git2.pug
					
	+footer('Adam Vesecký', 'APHGames, Tutorial: Git Advanced')
	script(src!='../../scripts/reveal-setup.js')