// GROUP=Tutorials
// NAME=Git Basics
// LOCALE=en 
// ORDER=1
doctype html
include ./mixins/header.pug
include ./mixins/containers.pug
include ./mixins/containers_aph.pug

- var themePath = '../themes/aph/';
- var globalAssets = '../assets/all/';

html(lang='en')
	+header('Tutorial: Git Basics', 'Adam Vesecký', themePath + 'resources/favicon.png', themePath + 'theme_aph.scss')
	.reveal
		.slides
			include ./chapters/tutorial_git.pug
					
	+footer('Adam Vesecký', 'APHGames, Tutorial: Git Basics')
	script(src!='../../scripts/reveal-setup.js')