include ../mixins/containers.pug
include ../mixins/containers_aph.pug

- var imgAssets = '../assets/engines_loop/';
- var defaultBgr = 'backgrounds/pzprototype.jpg';

// ===================================================== SLIDES =====================================================
+mchapter('Game Loop', imgAssets+'chapter_engines_loop.svg')
+frameInbox('Game Loop')
	.important-orange
		ul
			li.fragment the most important part of the game engine
			li.fragment each turn advances the state of the game
			li.fragment usually coordinated with the event loop of the platform/virtual machine
			li.fragment optimal time step for rendering: 
				span.highlight.font-bold 60 FPS = 16.6 ms per frame
			li.fragment input, and physics require more frequent updates
		.space-2xl
		.text-center.center.fragment
			.width-55p.highlight.font-bold In general, a program spends 90% of its time in 10% of its code. The game loop will be firmly in those 10%.
+frameInbox('Simple Game Loop')
	.important-orange.center.fill
		img.height-750(src=imgAssets+'loop_simple.svg')
+frameInbox('Game loop with separated rendering')
	.important-orange.center.fill
		img.height-750(src=imgAssets+'loop_multithreaded.svg')
+frameInbox('Cooperative game loop')
	.important-orange
		ul
			li.fragment first used in <span class="highlight">Ultima VII (1994)</span>
		.bottom-20.left-170
			img.height-680(src=imgAssets+'loop_cooperative.svg')
+frameInbox('Update method')
	.important-red
		.scope.fragment 
			p Fixed time step
			ul
				li.fragment each update advances the game by a certain amount of time
				li.upside.fragment deterministic and stable
				li.downside.fragment the game may slow down
		.scope.fragment
			p Variable time step
			ul
				li.fragment each update advances the game based on how much real time has passed since the last frame
				li.upside.fragment natural
				li.downside.fragment non-deterministic and unstable
		.scope.fragment
			p Adaptive time step
			ul
				li.fragment switches between variable and fixed time step based on thresholds
				li.fragment deals with long breaks better than the other two
+frameInbox('Example: Unity Game Loop')
	.center
		img.height-800(src=imgAssets+'loop_unity.svg')
