mixin quote-pokemon()
	+mcontainer('Goodbye Quote')(bgr='backgrounds/pokemon.jpg')
		+frameShard().top-25p.left-30p.width-42p
			+quote('It\'s super effective.', 'Pokémon Series')(class="font-dos not-italic")

mixin quote-portal()
	+mcontainer('Goodbye Quote')(bgr='backgrounds/portal.jpg')
		+frameShard().top-25p.left-22p.width-60p
			+quote('If You Become Light Headed From Thirst, Feel Free To Pass Out!', 'Portal')(class="font-dos not-italic")

mixin quote-assassins()
	+mcontainer('Goodbye Quote')(bgr='backgrounds/assassins.jpg')
		+frameShard().top-25p.left-22p.width-60p
			+quote('Where other men are limited by morality or law, remember, everything is permitted. We work in the dark to serve the light.', 'Assassin\'s Creed series')(class="font-dos not-italic")

mixin quote-halflife()
	+mcontainer('Goodbye Quote')(bgr='backgrounds/halflife.jpg')
		+frameShard().top-25p.left-22p.width-60p
			+quote('I will admit that the possibility of a resonance cascade scenario is extremely unlikely.', 'Half-Life')(class="font-dos not-italic")

mixin quote-halflifecs()
	+mcontainer('Hláška na závěr')(bgr='backgrounds/halflife.jpg')
		+frameShard().top-25p.left-22p.width-60p
			+quote('I will admit that the possibility of a resonance cascade scenario is extremely unlikely.', 'Half-Life')(class="font-dos not-italic")


mixin quote-inspiration()
	+mcontainer('Goodbye Quote')(bgr='backgrounds/cold_engines.jpg')
		+frameShard().top-25p.left-22p.width-60p
			+quote('When designers start taking inspiration from the same things, their games will start feeling the same.', 'Reddit forum')(class="font-dos not-italic")


mixin quote-inspirationcs()
	+mcontainer('Hláška na závěr')(bgr='backgrounds/cold_engines.jpg')
		+frameShard().top-25p.left-22p.width-60p
			+quote('Jakmile se designéři začnou inspirovat stejnými věcmi, jejich hry začnou vypadat stejně.', 'Reddit fórum')(class="font-dos not-italic")

mixin quote-skyrim()
	+mcontainer('Goodbye Quote')(bgr='backgrounds/skyrim.jpg')
		+frameShard().top-25p.left-22p.width-60p
			+quote('What is better? To be born good or to overcome your evil nature through great effort?', 'Paarthurnax, Skyrim')(class="font-dos not-italic")

mixin quote-gta()
	+mcontainer('Goodbye Quote')(bgr='backgrounds/gta.jpg')
		+frameShard().top-25p.left-22p.width-60p
			+quote('All you had to do was follow the damn train!', 'GTA, San Andreas')(class="font-dos not-italic")

mixin quote-mightmagic()
	+mcontainer('Goodbye Quote')(bgr='backgrounds/mm6.jpg')
		+frameShard().top-10p.width-100p
			+quote('Mohu vycvičit experty černé magie na mistry, ovšem jen pokud splňují má kritéria. Budu učit jen opravdové zasvěcence, ty, kteří jsou tak zlí, že jejich reputace je ta nejhorší - prostě opravdové Miloše Zemany. Nedělám žádné výjimky a též nežádám žádné peníze, stačí ujištění, že budete po světě šířit zlo a zvyšovat daně.', 'Might and Magic 6')(class="font-dos not-italic text-md")
		+frameShard().top-14p.width-100p
			+quote('I can bring experts of dark magic up to master, provided they meet my standards. I only teach the genuinely dedicated - those so evil their reputations are as bad as they can get. The truly notorious. I make no exceptions, and charge no fee in the interests of spreading darkness throughout the world.', 'Might and Magic 6')(class="font-dos not-italic text-md")

mixin quote-blizzard()
	+mcontainer('Goodbye Quote')(bgr='backgrounds/blizzard.jpg')
		+frameShard().top-28p.width-60p.left-22p
			+quote('Do you guys not have phones?', 'Wyatt Cheng, BlizzCon 2018')(class="font-dos not-italic")

mixin quote-gow()
	+mcontainer('Goodbye Quote')(bgr='backgrounds/god_of_war.jpg')
		+frameShard().top-28p.width-65p.left-20p
			+quote('Hope is what makes us strong. It is why we are here. It is what we fight with when all else is lost.', 'Pandora, God of War 3')(class="font-dos not-italic")

mixin quote-zelda()
	+mcontainer('Goodbye Sheet')(bgr='backgrounds/bgr_zeldasong.jpg')
		+frameShard().top-35p.width-65p.left-20p
			p.font-dos.not-italic.color-lemon The Legend of Zelda

mixin quote-duke()
	+mcontainer('Goodbye Quote')(bgr='backgrounds/bgr_duke.jpg')
		+frameShard().top-28p.width-65p.left-20p
			+quote('Now you see me, now you\'re dead.', 'Duke Nukem')(class="font-dos not-italic")

mixin quote-keen()
	+mcontainer('Goodbye Quote')(bgr='backgrounds/keen_painting.jpg')
		+frameShard().top-28p.width-65p.left-20p
			+quote('This is the second biggest sandwich I have ever seen!', 'Commander Keen')(class="font-dos not-italic")
